POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fairgig
POSTGRES_USER=fairgig_admin
POSTGRES_PASSWORD=your_strong_password_here

JWT_SECRET=your_256_bit_secret_here_minimum_32_chars
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_DAYS=7

AUTH_SERVICE_PORT=8001
FRONTEND_ORIGIN=http://localhost:5173
